<!DOCTYPE html>
<html>
<head>
  <title>Cell for Free</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <!--<%= render 'partial/navbar' %>-->
  <div class="container">

    <div id="main">
      <%= yield %>
    </div>
  </div>

  <div class ="row">
    <div class='col-md-12 low'>
      Copyright things
    </div>
  </div>

</body>
</html>